trigger:
- main

jobs:
- job: Build
  displayName: "Build Maven Project"
  pool:
    name: "Default"     # Aquí está tu agente auto-hospedado
    demands:
      - agent.name -equals vm-devops-lab

  steps:
  - task: Maven@4
    displayName: "Maven Package"
    inputs:
      mavenPomFile: "pom.xml"

  - task: CopyFiles@2
    displayName: "Copy Files to artifact staging directory"
    inputs:
      SourceFolder: "$(System.DefaultWorkingDirectory)"
      Contents: "**/target/*.?(war|jar)"
      TargetFolder: "$(Build.ArtifactStagingDirectory)"

  - publish: "$(Build.ArtifactStagingDirectory)"
    artifact: "drop"
